<head>
</head>


<body>

<!-- Jambula Logo - Internet Off -->
<br>
<img src="landing/images/hotspot-internet-off.png" alt="Jambula Labs" style="width:100%">
<br>
<header class="w3-container">
<font align="center"> Smart technologies for your HotSpot!</font>
</header>
<br>

<b> 
<input type="button" value="Please close this window, and Open your Browser!" />
</b>

</body>
