[Unit]
Description=CoovaChilli WiFi Access and Captive Portal Server.
After=hostapd.service

[Service]
Type=forking
ExecStart=/bin/sh -c "/usr/bin/jambulatv-chilli start"
ExecReload=/bin/sh -c "/usr/bin/jambulatv-chilli restart"
ExecStop=/bin/sh -c "/usr/bin/jambulatv-chilli stop"
User=root

[Install]
WantedBy=multi-user.target
