[Unit]
Description=Domoticz Home Automation System
After=network.target

[Service]
User=DOMOTICZ_USER
ExecStart=/usr/bin/domoticz -verbose -daemon -www DOMOTICZ_WWW_PORT -wwwroot DOMOTICZ_HTML_DIR -dbase DOMOTICZ_HOME_DIR/domoticz.db -userdata DOMOTICZ_HOME_DIR/ -log DOMOTICZ_LOG_FILE -loglevel 0
KillMode=process
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
