[Unit]
Description=FlexGet Daemon
After=network.target

[Service]
User=jambula
EnvironmentFile=-/etc/sysconfig/flexget
ExecStartPre=/bin/sh -c "/usr/bin/sudo /usr/bin/rm -f ${LOCK_FILE}"
ExecStartPre=/bin/sh -c "/usr/bin/sudo /usr/bin/chown jambula:jambula ${LOG_FILE}"
ExecStartPre=/bin/sh -c "/usr/bin/sudo /usr/bin/chown -R jambula:jambula ${PYTHON_SITEDIR}/protobuf-*/EGG-INFO"
ExecStart=/bin/sh -c "${FLEXGET_CMD} -c ${CONFIG_FILE} -l ${LOG_FILE} daemon start"
ExecStop=/bin/sh -c "${FLEXGET_CMD} -c ${CONFIG_FILE} -l ${LOG_FILE} daemon stop"
ExecReload=/bin/sh -c "${FLEXGET_CMD} -c ${CONFIG_FILE} -l ${LOG_FILE} daemon reload"

[Install]
WantedBy=multi-user.target
