[Unit]
Description=Home Assistant
After=multi-user.target alsa-restore.service 


[Service]
Type=simple
User=jambula
ExecStart=/usr/local/bin/hass -c "/etc/JambulaTV/homeassistant"

[Install]
WantedBy=graphical.target
