[Unit]
Description=Home Assistant
After=network-online.target syslog.target mosquitto.service jambulatv@kodi.service


[Service]
Type=simple
User=jambula
ExecStart=/usr/local/bin/hass -c "/etc/JambulaTV/homeassistant"

[Install]
WantedBy=multi-user.target
