[Unit]
Description=Home Assistant Core
After=multi-user.target alsa-restore.service 


[Service]
Type=simple
User=jambula

EnvironmentFile=/etc/sysconfig/home-assistant-core
ExecStart=/bin/bash -c "${HOME_ASSISTANT_CMD} -c ${HOME_ASSISTANT_CONFIG_DIR}"

[Install]
WantedBy=graphical.target
