[Unit]
Description=Jabber Client To Server Connector
Requires=jabberd-router.service
After=mysqld.service network.target jabberd-router.service
BindTo=jabberd.service

[Service]
User=jabber
ExecStart=/usr/bin/c2s -c /etc/jabberd/c2s.xml

[Install]
WantedBy=multi-user.target
