[Unit]
Description=generation of daily EPG (Generic) data for free-to-air TV
After=tvheadend.service


[Service]
Type=forking
ExecStart=/usr/bin/jambulatv-tvguide-fta-generic


[Install]
WantedBy=multi-user.target
