[Unit]
Description = JambulaTV Scanning of IPTV Services and Channels
After = graphical.target

[Service]
User=jambula
Type = forking
ExecStart = /usr/bin/jambulatv-tvheadend-controller iptv scan full

[Install]
WantedBy = graphical.target
