[Unit]
Description=generation of daily EPG (Generic) data for free-to-air TV


[Timer]
OnCalendar=daily
Persistent=true


[Install]
WantedBy=timers.target
