[Unit]
Description = Automatic scanning of services and channels for JambulaTV web-based cameras
After = graphical.target


[Service]
User = jambula
Type = forking

ExecStart = /bin/sh -c "/usr/bin/jambulatv-tvheadend-controller cameras all &"


[Install]
WantedBy = graphical.target
