[Unit]
Description=X11 Display Manager for JambulaTV
Documentation=man:jambulatv-display-manager(8)
Conflicts=getty@tty1.service
After=plymouth-quit.service

[Service]
User=jambula
ExecStartpre=/usr/bin/pulseaudio -D
ExecStart=/usr/bin/xinit /usr/bin/kodi
ExecStop=/usr/bin/killall kodi ; /usr/bin/killall X
Restart=on-abort
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
