[Unit]
Description=X11 Display Manager for JambulaTV
Documentation=man:jambulatv-display-manager(8)
Conflicts=getty@tty1.service
After=plymouth-quit.service

[Service]
Environment=CRASHLOG_DIR=/var/log/JambulaTV 
User=jambula
ExecStart=/usr/bin/xinit /usr/bin/dbus-launch /usr/bin/kodi-standalone -- :0 -nolisten tcp
ExecStop=/usr/bin/killall kodi ; /usr/bin/killall X
Restart=on-abort
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
