[Unit]
Description = Check for JambulaTV Updates Every Monday or Tuesday Night at 11:15 pm

[Timer]
OnCalendar=Mon,Tue *-*-* 23:15:00
Unit=jambulatv-updates.service



[Install]
WantedBy = multi-user.target
