[Unit]
Description = Automatic fetching of playlists, scanning of services and channels for JambulaTV IPTV 
After = graphical.target
Requires = jambulatv-bandwidth-monitor@JambulaTV-IPTV-Scanner.service
After = jambulatv-bandwidth-monitor@JambulaTV-IPTV-Scanner.service


[Service]
User = jambula
Type = oneshot
ExecStart = /bin/sh -c "/usr/bin/jambulatv-tvheadend-controller iptv all incremental"


[Install]
WantedBy = graphical.target
