[Unit]
Description = generation and reporting of Internet data and bandwidth used during the last 30 days


[Timer]
OnCalendar = *-*-01 00:00:00
Unit = jambulatv-bandwidth-query@month.service


[Install]
WantedBy = multi-user.target
