[Unit]
Description=WiFi user presence detection using hostapd
After=hostapd.service

[Service]
Type=forking
ExecStart=/usr/sbin/hostapd_cli -B -a /usr/bin/jambulatv-presence-detection-via-hostapd

[Install]
WantedBy=multi-user.target
