[Unit]
Description=WiFi user presence detection using trackerjacker 
Requires = sys-subsystem-net-devices-MY_TRACKERJACKER_INTERFACE.device
After = sys-subsystem-net-devices-MY_TRACKERJACKER_INTERFACE.device
After = syslog.target network.target

[Service]
Type=simple
ExecStart=/bin/sh -c "MY_PRESENCE_DETECTION_VIA_TRACKER_TOOL"

[Install]
WantedBy=multi-user.target
