[Unit]
Description=vnStat network traffic monitor
Documentation=man:vnstatd(1) man:vnstat(1) man:vnstat.conf(5)
After=network.target

[Service]
ExecStart=/usr/sbin/vnstatd -n --config MY_VNSTAT_CONFIG_FILE --alwaysadd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

# Hardening
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
Alias=vnstatd.service
