[Unit]
Description=Video security and surveillance system
After=mysqld.service

[Service]
Type=forking
ExecStartPre=/bin/sh -c "/usr/bin/rm -rf /run/zm/*"
ExecStartPre=/usr/bin/zmupdate.pl -f
ExecStart=/usr/bin/zmpkg.pl start
ExecStartPost=/bin/sh -c "ls -x /dev/shm/zm.mmap.* > /dev/null 2>&1" 
ExecStartPost=/bin/sh -c "echo '/usr/bin/perl /usr/bin/zmalarm_daemon.pl' | /usr/bin/at now" 
ExecStop=/bin/sh -c "[ -f /run/zm/zm_alarm.pid ] && /usr/bin/kill $(/usr/bin/cat /run/zm/zm_alarm.pid)"
ExecReload=/usr/bin/zmpkg.pl reload
PIDFile=/run/zm/zm.pid

# Process takes ages to stop - kill after a few seconds
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
