[Unit]
Description=ZoneMinder CCTV recording and security system
After=network.target mysqld.service nginx.service
Requires=mysqld.service nginx.service


[Service]
User=MY_WWW_USER
Group=MY_WWW_GROUP
Type=forking
PermissionsStartOnly=true
ExecStartPre=-MY_BINARY_PREFIX/mkdir MY_RUNDIR/zm
ExecStartPre=MY_BINARY_PREFIX/chown -R MY_WWW_USER:MY_WWW_GROUP MY_RUNDIR/zm
ExecStartPre=MY_BINARY_PREFIX/zmupdate.pl -f
ExecStart=MY_BINARY_PREFIX/zmpkg.pl start
ExecStartPost=/bin/sh -c "echo 'MY_BINARY_PREFIX/perl MY_ZONEMINDER_ALARM_DAEMON' | MY_BINARY_PREFIX/at now" 
ExecStop=MY_BINARY_PREFIX/zmpkg.pl stop
ExecStopPost=MY_BINARY_PREFIX/killall -15 jambulatv-zms-inetd
ExecStopPost=MY_BINARY_PREFIX/killall -9 nph-zms
ExecStopPost=/bin/sh -c "[[ -e MY_RUNDIR/zm/zm_alarm.pid ]] && MY_BINARY_PREFIX/kill $(MY_BINARY_PREFIX/cat MY_RUNDIR/zm/zm_alarm.pid)"
ExecReload=MY_BINARY_PREFIX/zmpkg.pl restart
PIDFile=MY_RUNDIR/zm/zm.pid
Environment=TZ=/etc/localtime


[Install]
WantedBy=multi-user.target
