;flowroute
allow=g729
register => 63405959:MhGd93Fqbpht@sip.flowroute.com

[flowroute] ;keep this lowercase, do not change format
type=friend
secret=MhGd93Fqbpht
username=63405959
host=sip.flowroute.com
dtmfmode=rfc2833
context=inbound ;change to 'ext-did' or 'from-trunk' for asterisk@home
canreinvite=no
insecure=port,invite
fromdomain=sip.flowroute.com
rfc2833compensate=yes
disallow=all
allow=ulaw
relaxdtmf=yes
