# table Samsung, type: NEC
scancode 0x7071f = KEY_INFO
scancode 0x70713 = KEY_PREVIOUS
scancode 0x70711 = KEY_NUMERIC_0 
scancode 0x70704 = KEY_NUMERIC_1
scancode 0x70705 = KEY_NUMERIC_2
scancode 0x70706 = KEY_NUMERIC_3
scancode 0x70708 = KEY_NUMERIC_4
scancode 0x70709 = KEY_NUMERIC_5
scancode 0x7070a = KEY_NUMERIC_6
scancode 0x7070c = KEY_NUMERIC_7
scancode 0x7070d = KEY_NUMERIC_8
scancode 0x7070e = KEY_NUMERIC_9
scancode 0x7070f = KEY_MUTE
scancode 0x7072d = KEY_BACK
scancode 0x7070b = KEY_LEFT
scancode 0x70707 = KEY_RIGHT
scancode 0x70710 = KEY_DOWN
scancode 0x70712 = KEY_UP
scancode 0x70768 = KEY_OK
scancode 0x7071a = KEY_MENU
scancode 0x7074b = KEY_TITLE
scancode 0x70701 = KEY_GOTO
scancode 0x70702 = KEY_POWER
