<head>
  <script language="javascript" type="text/javascript">
var chilliController = { interval:30 , host:"chilli" , port:false , ident:'00' , ssl:false , uamService: false };
  </script>
<!-- Jambula Labs: -->
  <script language="javascript" type="text/javascript" src="landing/scripts/ChilliLibrary.js">
  </script>
<!-- Jambula Labs: -->
  <script language="javascript" type="text/javascript" src="landing/scripts/chilliController.js">
  </script>
<!-- Jambula Labs: -->
<script language="javascript" type="text/javascript" src="landing/scripts/chillispot.js">
  </script>
<!-- Jambula Labs: Popup a seperate window showing stats -->
<script language="javascript" type="text/javascript" src="landing/scripts/popup_stats.js">
  </script>
<!-- Jambula Labs: Timer of 600 secs, then redirect -->
  <script language="javascript" type="text/javascript" src="landing/scripts/timer_30.js">
  </script>
</head>

<body>
<!-- Jambula Logo - Internet On -->
<br>
<img src="landing/images/hotspot-internet-on.png" alt="Jambula Labs" style="width:100%">
<br>
<header class="w3-container">
</header>
<br>

<!-- Internet Available -->
<div class="w3-container">
<div class="w3-card-2" style="width:100%">
 <img src="landing/images/madison03.jpg" class="w3-animate-opacity" alt="Madison, WI" style="width:100%">
</div>
<br>
       You will be redirected to
      <a href="${FORM_redirurl:-$FORM_userurl}">${FORM_redirurl:-$FORM_userurl}</a>
      <br> in <span id="countdown">600</span> seconds ...
</div>

<!-- Available resources -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h2 style="color: rgb(250, 115, 147);"><b>JambulaTV</b></h2>
    <img src="landing/images/madison05.jpg" alt="Madison, WI" style="width:100%">
      <p> 
<table class="w3-table w3-striped">
<thead>
</thead>
<tbody>

<!-- Remote control - Kodi -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_REMOTE_CONTROL" target="_blank">Remote Control</a>
</td>
  <td class="w3-topnav">
<a href="$JAMBULA_REMOTE_CONTROL" target="_blank"><img src="landing/images/icons/remote05.jpg" alt="Remote"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Control TV remote.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

<!-- Live TV - TVheadend -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_LIVE_TV_ACCESS" target="_blank">Live TV</a>
  </td>
  <td class="w3-topnav">
<a href="$JAMBULA_LIVE_TV_ACCESS" target="_blank">
  <img src="landing/images/icons/tv01.jpg" alt="Live TV"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Watch Live TV.
<br>
<a href="" target="_blank"></a>
</font>
  </td>
</tr>

<!-- Videos - Kodi -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_VIDEO_ACCESS" target="_blank">Videos</a>
  </td>
  <td class="w3-topnav">
<a href="$JAMBULA_VIDEO_ACCESS" target="_blank"><img src="landing/images/icons/tvshows01.jpg" alt="Videos"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Play TV Shows and Movies.
<br>
<a href="" target="_blank"></a>
</font>
  </td>
</tr>

<!-- VOIP Phone - jSSIP -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_PHONE_ACCESS" target="_blank">Phone</a>
</td>
  <td class="w3-topnav">
<a href="$JAMBULA_PHONE_ACCESS" target="_blank">
<img src="landing/images/icons/sip01.jpg" alt="Phone"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Connect to VOIP PBX system.
<br>
<a href="" target="_blank"></a>
</font>
  </td>
</tr>

<!-- CCTV - ZoneMinder -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_CCTV_ACCESS" target="_blank">CCTV</a>
  </td>
  <td class="w3-topnav">
<a href="$JAMBULA_CCTV_ACCESS" target="_blank"><img src="landing/images/icons/cctv01.jpg" alt="CCTV"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
View security Cameras.
<br>
<a href="" target="_blank"></a>
</font>
  </td>
</tr>

<!-- Files - Owncloud -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_FILES_ACCESS" target="_blank">Files</a>
</td>
  <td class="w3-topnav">
<a href="$JAMBULA_FILES_ACCESS" target="_blank">
<img src="landing/images/icons/files01.jpg" alt="Files"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Manage your Files.
<br>
<a href="" target="_blank"></a>
</font>
  </td>
</tr>

<!-- Torrents - rtGUI -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_TORRENTS_ACCESS" target="_blank">Torrents</a>
</td>
  <td class="w3-topnav">
<a href="$JAMBULA_TORRENTS_ACCESS" target="_blank">
<img src="landing/images/icons/torrents02.jpg" alt="Torrents"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Manage your torrents.
<br>
<a href="" target "_blank"></a>
</font>
  </td>
</tr>

<!-- Current session information -->
<tr>
  <td class="w3-topnav w3-vmiddle"><a href="#" onclick="return popup_meter('landing/session_info.html')">Session</a></td>
  <td class="w3-topnav"><a href="#" onclick="return popup_meter('landing/session_info.html')">
<img src="landing/images/icons/info03.jpg" alt="Session Info"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
View connection stats e.g. data used.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

<!-- About Jambula -->
<tr>
  <td class="w3-topnav w3-vmiddle"><a href="$JAMBULA_PRODUCT_WEBSITE" target="_blank">About Us</a></td>
  <td class="w3-topnav"><a href="$JAMBULA_PRODUCT_WEBSITE">
<img src="landing/images/icons/jambulatv.jpg" alt="$JAMBULA_PRODUCT"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
See our products & services.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

<!-- Disconnect - Logoff -->
<tr>
  <td class="w3-topnav w3-vmiddle"><a href="http://logout/">Disconnect</a></td>
  <td class="w3-topnav"><a href="http://logout/">
<img src="landing/images/icons/logout03.jpg" alt="Log Off"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Sign out of HotSpot.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

</tbody>
</table>
      </p>
    </div>
  </div>
</div>

<!-- Connection Statistics -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">

      <div>
      <h3><a name="Curent_Session"></a>Current Session Info</h3>
      </div>
    <img src="landing/images/charlotte04.jpg" class="w3-circle" alt="Charlotte, NC" style="width:100%">
<p>
<table border="0" id="statusTable" style="padding-left:5px;font-size:70%">
<tr id="connectRow">
<td><span id="statusMessage"><b>Connected</b></span></td>
<td><b><a href="http://logout/">logout</a></b></td>
</tr>
<tr id="sessionIdRow">
<td id="sessionIdLabel" class="chilliLabel"><b>Session ID</b></td>
<td id="sessionId" class="chilliValue">Not available</td>
</tr>
<tr id="sessionTimeoutRow">
<td id="sessionTimeoutLabel" class="chilliLabel"><b>Max Session Time</b></td>
<td id="sessionTimeout" class="chilliValue">Not available</td>
</tr>
<tr id="idleTimeoutRow">
<td id="idleTimeoutLabel" class="chilliLabel"><b>Max Idle Time</b></td>
<td id="idleTimeout" class="chilliValue">Not available</td>
</tr>
<tr id="startTimeRow">
<td id="startTimeLabel" class="chilliLabel"><b>Start Time</b></td>
<td id="startTime" class="chilliValue">Not available</td>
</tr>
<tr id="sessionTimeRow">
<td id="sessionTimeLabel" class="chilliLabel"><b>Session Time</b></td>
<td id="sessionTime" class="chilliValue">Not available</td>
</tr>
<tr id="idleTimeRow">
<td id="idleTimeLabel" class="chilliLabel"><b>Idle Time</b></td>
<td id="idleTime" class="chilliValue">Not available</td>
</tr>
<tr id="inputOctetsRow">
<td id="inputOctetsLabel" class="chilliLabel"><b>Downloaded</b></td>
<td id="inputOctets" class="chilliValue">N/A</td>
</tr>
<tr id="outputOctetsRow">
<td id="outputOctetsLabel" class="chilliValueLabel"><b>Uploaded</b></td>
<td id="outputOctets" class="chilliValue">N/A</td>
</tr>
<tr id="originalURLRow">
<td id="originalURLLabel" class="chilliValueLabel"><b>Original URL</b></td>
<td id="originalURL" class="chilliValue">N/A</td>
</tr>
</table>
</p>
    </div>
  </div>
</div>

<!-- About Us -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h3><a name="About_Us"></a>About Us</h3>
    <img src="landing/images/chicago01.jpg" alt="Chicago, IL" style="width:100%">
      <p>$LOCATION_NAME, specializes in providing customized UNIX
solutions to offices and homes in Africa. We are one of the few
companies in East Africa that are helping new businesses and
organizations use non-proprietary and 'less expensive' open-source solutions.<a href="$HS_PROVIDER_LINK"> Read more</a> ...<br>
      </p>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h3><a name="Contact_Us"></a>Contact Us</h3> 
    <img src="landing/images/charlotte01.jpg" alt="Charlotte, NC" style="width:100%">
<br><br><p><li>Technical support: <span style="font-weight: bold; text-decoration:none"><a href="mailto:$JAMBULA_SUPPORT_EMAIL">Email</a></span></li><li>Sales and Quotes:
          <span style="font-weight: bold;"><a href="tel:0776338000">+256-(0)77-633-8000</a>  </span></li><li>Learn more at:
          <a style="font-weight: bold;" href="$JAMBULA_PRODUCT_WEBSITE/">$JAMBULA_PRODUCT website</a></li></p>
    </div>
  </div>
</div>

</body>

<!-- Footer --> 
<div class="w3-container">
