<head>

<script language="javascript" type="text/javascript">
function windowClose() {
window.open('','_parent','');
window.close();
}
</script>

</head>


<body>

<!-- Jambula Logo - Internet On -->
<br>
<img src="landing/images/hotspot-internet-on.png" alt="Jambula Labs" style="width:100%">
<br>
<header class="w3-container">
</header>
<br>

<br>
<b> 

<input type="button" value="Please close this window, and Open your Browser!" onclick="windowClose();">

</b>

</body>
