series:
  group 1:
    - American Crime Story The People v O J Simpson: { alternate_name: 'The People v O J Simpson', begin: S01E02 }
    - Arrow
    - Banshee: { begin: S05E01 }
    - Blindspot
    - Devious Maids
    - The Flash: { begin: S01E01 }
    - Game of Thrones
    - Homeland
    - House of Cards: { begin: S05E01 }
    - Justified: { begin: S01E01 }
    - Modern Family: { begin: S07E01 }
    - Mr. Robot: { begin: S02E01}
    - Orange is the New Black: { begin: S04E01 }
    - Person of Interest: { begin: S05E06 }
    - Power: { begin: S02E01 }
    - Preacher: { begin: S01E01 }
    - Quantico: { begin: S01E01 }
    - Scandal (2012): { alternate_name: Scandal US }
    - Silicon Valley
    - Suits: { begin: S06E01 }
    - The Americans: { begin: S05E01 }
    - The Walking Dead
    - Westworld: { begin: S01E01 }
