inputs:
  - rss: https://feeds2.feedburner.com/Hak5largeQuicktime #Hak5
  - rss: http://feeds.twit.tv/floss_video_small.xml # FLOSS WEEKLY
  - rss: http://feeds.twit.tv/tnss_video_small.xml # THE NEW SCREEN SAVERS
  - rss: http://feeds.twit.tv/tnt_video_small.xml # TNT
  - rss: http://feeds.twit.tv/twich_video_small.xml # TWICH
  - rss: http://feeds.twit.tv/twit_video_small.xml # TWIT    
  - rss: https://feeds.feedburner.com/Tekthing #TEKTHING
  - rss: http://feeds.feedburner.com/VideoCordkillersPodcast # CORD KILLERS
  - rss: http://iotpodcast.com/feed/podcast # IOT
      #other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration']
      #image: 'itunes:image'
