inputs:

# Hak5
  - rss: { url: 'https://feeds2.feedburner.com/Hak5largeQuicktime', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# FLOSS WEEKLY
  - rss: { url: 'http://feeds.twit.tv/floss_video_small.xml', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# THE NEW SCREEN SAVERS
  - rss: { url: 'http://feeds.twit.tv/tnss_video_small.xml', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# TNT
  - rss: { url: 'http://feeds.twit.tv/tnt_video_small.xml', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# TWICH
  - rss: { url: 'http://feeds.twit.tv/twich_video_small.xml', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# TWIT    
  - rss: { url: 'http://feeds.twit.tv/twit_video_small.xml', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# TEKTHING
  - rss: { url: 'https://feeds.feedburner.com/Tekthing', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# CORD KILLERS
  - rss: { url: 'http://feeds.feedburner.com/VideoCordkillersPodcast', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }

# IOT
  - rss: { url: 'http://iotpodcast.com/feed/podcast', other_fields: ['itunes:summary', 'itunes:subtitle', 'itunes:image', 'itunes:duration', 'itunes:episode', 'category', 'pubDate', 'lastBuildDate'], all_entries: yes }
