series:
  group 1:
    - American Crime Story The People v O J Simpson: { alternate_name: 'American Crime Story', begin: S02E05 }
    - Arrow: { begin: S06E14 }
    - Blindspot: { begin: S03E13 }
    - Black-ish: { begin: S02E17 }
    - The Flash: { begin: S04E14 }
    - Game of Thrones: { begin: S08E01 }
    - Halt and Catch Fire: { begin: S02E03 }
    - Homeland: { begin: S07E02 }
    - House of Cards: { begin: S05E13 }
    - Imposters: { begin: S02E01 }
    - Insecure: { begin: S03E01 }
    - Modern Family: { begin: S09E14 }
    - Mr. Robot: { begin: S03E11}
    - Orange is the New Black: { begin: S06E01 }
    - Power: { begin: S05E01 }
    - Quantico: { begin: S03E01 }
    - Scandal (2012): { alternate_name: Scandal US, begin: S07E12 }
    - Silicon Valley: { begin: S05E01 }
    - Suits: { begin: S07E09 }
    - The Americans: { begin: S06E01 }
    - The Walking Dead: { begin: S08E09 }
    - Westworld: { begin: S01E10 }
