<HEAD>

<head>
</script>
<!-- Jambula Labs: Timer of 600 secs, then redirect -->
  <script language="javascript" type="text/javascript" src="scripts/timer_600.js">
  </script>
</head>

<body>
<!-- Jambula Logo - Internet Off -->
<br>
<img src="images/hotspot-internet-off.png" alt="Jambula Labs" style="width:100%">
<br>
<header class="w3-container">
</header>
<br>

<!-- Internet Not Available -->
<div class="w3-container">
<div class="w3-card-2" style="width:100%">
 <img src="images/madison03.jpg" class="w3-animate-opacity" alt="Madison, WI" style="width:100%">
</div>
<br>
Currently, you will not be able to access the Internet using this HotSpot. This
may be due to a temporary problem. If so, please contact your Network
Administrator or try again later. I will try to redirect you to
      <a href="${FORM_redirurl:-$FORM_userurl}">${FORM_redirurl:-$FORM_userurl}</a>
      <br> in <span id="countdown">600</span> seconds ...
</div>

<!-- Available resources -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h2 style="color: rgb(250, 115, 147);"><b>JambulaTV</b></h2>
    <img src="images/madison05.jpg" alt="Madison, WI" style="width:100%">
      <p> 
<table class="w3-table w3-striped">
<thead>
</thead>
<tbody>

<!-- Remote control - Yatse -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://command/show/remote#Intent;scheme=yatse;package=org.leetzone.android.yatsewidgetfree;S.browser_fallback_url=https://play.google.com/store/apps/details?id=org.leetzone.android.yatsewidgetfree;end" target="_blank">Remote Control</a>
</td>
  <td class="w3-topnav">
<a href="intent://command/show/remote#Intent;scheme=yatse;package=org.leetzone.android.yatsewidgetfree;S.browser_fallback_url=https://play.google.com/store/apps/details?id=org.leetzone.android.yatsewidgetfree;end" target="_blank"><img src="images/icons/remote05.jpg" alt="Remote"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Use this device to control TV.
<br>
<a href="https://play.google.com/store/apps/details?id=org.leetzone.android.yatsewidgetfree" target="_blank">Yatse</a> is needed
</font>
  </td>
</tr>

<!-- Live TV - TVheadend client (TVHClient) -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://#Intent;scheme=tvhclient;package=org.tvheadend.tvhclient;S.browser_fallback_url=https://play.google.com/store/apps/details?id=org.tvheadend.tvhclient;end" target="_blank">Live TV</a>
  </td>
  <td class="w3-topnav">
<a href="intent://#Intent;scheme=tvhclient;package=org.tvheadend.tvhclient;S.browser_fallback_url=https://play.google.com/store/apps/details?id=org.tvheadend.tvhclient;end" target="_blank">
  <img src="images/icons/tv01.jpg" alt="Live TV"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Watch Live TV.
<br>
<a href="https://play.google.com/store/apps/details?id=org.tvheadend.tvhclient" target="_blank">TVHClient</a> is needed
</font>
  </td>
</tr>

<!-- Videos - BubbleUPNP -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://#Intent;scheme=db-7gss6o105yhetoa;package=com.bubblesoft.android.bubbleupnp;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.bubblesoft.android.bubbleupnp;end" target="_blank">Videos</a>
  </td>
  <td class="w3-topnav">
<a href="intent://#Intent;scheme=db-7gss6o105yhetoa;package=com.bubblesoft.android.bubbleupnp;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.bubblesoft.android.bubbleupnp;end" target="_blank"><img src="images/icons/tvshows01.jpg" alt="Videos"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Play TV Shows and Movies.
<br>
<a href="https://play.google.com/store/apps/details?id=com.mxtech.videoplayer.ad" target="_blank">MX Player</a> is required
</font>
  </td>
</tr>

<!-- VOIP Phone - Zoiper -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://#Intent;scheme=zoiper;package=com.zoiper.android.app;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.zoiper.android.app;end" target="_blank">Phone</a>
</td>
  <td class="w3-topnav">
<a href="intent://#Intent;scheme=zoiper;package=com.zoiper.android.app;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.zoiper.android.app;end" target="_blank">
<img src="images/icons/sip01.jpg" alt="Phone"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Connect to VOIP PBX system.
<br>
<a href="https://play.google.com/store/apps/details?id=com.zoiper.android.app" target="_blank">Zoiper</a> is needed
</font>
  </td>
</tr>

<!-- CCTV - ZmView -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="$JAMBULA_CCTV_ACCESS" target="_blank">CCTV</a>
  </td>
  <td class="w3-topnav">
<a href="$JAMBULA_CCTV_ACCESS" target="_blank"><img src="images/icons/cctv01.jpg" alt="CCTV"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
View security Cameras.
<br>
A <a href="https://play.google.com/store/apps/details?id=com.html5clouds.zmview" target="_blank">native app</a>, is also available.
</font>
  </td>
</tr>


<!-- Files - Owncloud -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://#Intent;scheme=@2131492882;package=com.owncloud.android;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.owncloud.android;end" target="_blank">Files-1</a>
</td>
  <td class="w3-topnav">
<a href="intent://#Intent;scheme=@2131492882;package=com.owncloud.android;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.owncloud.android;end" target="_blank">
<img src="images/icons/files01.jpg" alt="Files"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Manage your Files.
<br>
<a href="https://play.google.com/store/apps/details?id=com.owncloud.android" target="_blank">OwnCloud</a> is needed
</font>
  </td>
</tr>


<!-- Files - oCloud -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://#Intent;scheme=@2131165556;package=com.ocloud24.android;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.ocloud24.android;end" target="_blank">Files-2</a>
</td>
  <td class="w3-topnav">
<a href="intent://#Intent;scheme=@2131165556;package=com.ocloud24.android;S.browser_fallback_url=https://play.google.com/store/apps/details?id=com.ocloud24.android;end" target="_blank">
<img src="images/icons/files01.jpg" alt="Files"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Manage your Files.
<br>
<a href="https://play.google.com/store/apps/details?id=com.ocloud24.android" target="_blank">oCloud</a> is needed
</font>
  </td>
</tr>

<!-- Torrents - Transdrone -->
<tr>
  <td class="w3-topnav w3-vmiddle">
<a href="intent://#Intent;scheme=magnet;package=org.transdroid.lite;S.browser_fallback_url=https://play.google.com/store/apps/details?id=org.transdroid.lite;end" target="_blank">Torrents</a>
</td>
  <td class="w3-topnav">
<a href="intent://#Intent;scheme=magnet;package=org.transdroid.lite;S.browser_fallback_url=https://play.google.com/store/apps/details?id=org.transdroid.lite;end" target="_blank">
<img src="images/icons/torrents02.jpg" alt="Torrents"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Manage your torrents.
<br>
<a href="https://play.google.com/store/apps/details?id=org.transdroid.lite" target="_blank">Transdrone</a> is needed
</font>
  </td>
</tr>

<!-- Current session information -->
<tr>
  <td class="w3-topnav w3-vmiddle"><a href="#" onclick="return popup_meter('landing/session_info.html')">Session</a></td>
  <td class="w3-topnav"><a href="#" onclick="return popup_meter('landing/session_info.html')">
<img src="images/icons/info03.jpg" alt="Session Info"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
View connection stats e.g. data used.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

<!-- About Jambula -->
<tr>
  <td class="w3-topnav w3-vmiddle"><a href="landing/about_us.html" target="_blank">About Us</a></td>
  <td class="w3-topnav"><a href="landing/about_us.html" target="_blank">
<img src="images/icons/jambulatv.jpg" alt="$JAMBULA_PRODUCT"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
See our products and services.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

<!-- Disconnect - Logoff -->
<tr>
  <td class="w3-topnav w3-vmiddle"><a href="http://logout/">Disconnect</a></td>
  <td class="w3-topnav"><a href="http://logout/">
<img src="images/icons/logout03.jpg" alt="Log Off"></a>
  </td>
  <td>
<font class="w3-small w3-vmiddle" align="left">
Sign out of HotSpot.
<br>
<a href="" target="_blank"></a> 
</font>
  </td>
</tr>

</tbody>
</table>
      </p>
    </div>
  </div>
</div>


<!-- About Us -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h3><a name="About_Us"></a>About Us</h3>
    <img src="images/chicago01.jpg" alt="Chicago, IL" style="width:100%">
      <p>Jambula Labs, specializes in providing customized UNIX
solutions to offices and homes in Africa. We are one of the few
companies in East Africa that are helping new businesses and
organizations use non-proprietary and 'less expensive' open-source solutions. <a href="https://www.jambulalabs.com">Read more</a> ...<br>
      </p>
    </div>
  </div>
</div>

<!-- Contact Us -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h3><a name="Contact_Us"></a>Contact Us</h3> 
    <img src="images/charlotte01.jpg" alt="Charlotte, NC" style="width:100%">
<br><br><p><li>Product Support: <span style="font-weight: bold; text-decoration:none"><a href="mailto:support@jambulatv.com">Email</a></span></li><li>Sales|Quotes:
          <span style="font-weight: bold;"><a href="tel:0776338000">+256-(0)77-633-8000</a>  </span></li><li>Learn more at:
          <a style="font-weight: bold;" href="https://www.jambulatv.com">JambulaTV website</a></li></p>
    </div>
  </div>
</div>

</body>

<!-- Footer --> 
<div class="w3-container">

</HEAD>
