<!-- Jambula Logo - Internet On -->
<br>
<img src="/images/hotspot-internet-on.png" alt="Jambula Labs" style="width:100%">
<br>
<header class="w3-container">
</header>
<br>

<!-- Internet Available -->
<div class="w3-container">
<div class="w3-card-2" style="width:100%">
</div>

<!-- Welcome Message -->
Welcome to <b>$gatewayname!</b> 
<br>
You will need to accept our terms and conditions before you can access the Internet and multimedia resources using this HotSpot.  
If you really care, you may want to take a look at the <a href="/terms.html">terms and conditions</a>.
</div>

<br>

<!-- FORM -->
      <form name="prelogin" method="get" action="/nodogsplash_auth/">
      <input type="hidden" name="tok" value="$tok">
      <input type="hidden" name="redir" value="$requested">
      <input type="hidden" name="authaction" value="$authaction">
      <input type="hidden" name="denyaction" value="$denyaction">
      <input type="hidden" name="authtarget" value="$authtarget">
      <input type="hidden" name="clientip" value="$clientip">
      <input type="hidden" name="clientmac" value="$clientmac">
      <input type="hidden" name="clientupload" value="$clientupload">
      <input type="hidden" name="clientdownload" value="$clientdownload">
      <input type="hidden" name="gatewaymac" value="$gatewaymac">
      <input type="hidden" name="nclients" value="$nclients">
      <input type="hidden" name="maxclients" value="$maxclients">
      <input type="hidden" name="uptime" value="$uptime">
      <button class="w3-btn w3-round w3-round-xxlarge w3-text-purple">
      <input name="submit" value="I agree with your Terms & Conditions" type="submit">
      </button>
      </form>

<!-- What is JambulaTV -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h3><a name="About_Us"></a>What is JambulaTV?</h3>
JambulaTV is a smart home hub that manages your home automation and entertainment devices.  It serves as a controller for all your smart home IoT enabled devices. With it, you can do some of the following:
<br>
<li>
Control your security cameras, motion sensors, door locks and receive instant alerts when there is unwanted intrusion detected in and around your home. 
</li>
<li>
Have your smart home light bulbs turn on at dusk and turn off at dawn automatically. With smart outlets and switches, you can also control household appliances according to your schedule
</li>
<li>
Get alerts on weather e.g. when rainfall is coming.  Other alerts include your household's energy usage, flood and water leak detections etc.
</li>
<li>
For more of what JambulaTV can do for you, visit our website at 
<a href="https://www.jambulatv.com">JambulaTV</a> ...
</li>

<br>

</div>
</div>
</div>

<!-- Contact Us -->
<div class="w3-half">
  <div class="w3-card-2">
    <div class="w3-container">
      <h3><a name="Contact_Us"></a>Contact Us</h3> 


<li>Email:
<span style="font-weight: bold; text-decoration:none">
<a href="mailto:support@jambulatv.com">ask@jambulatv.com</a>
</span>
</li>

<li>Phone:
<span style="font-weight: bold;"><a href="tel:0776338000">+256-77-633-8000</a></span>
</li>

<li>Chat:
<span style="font-weight: bold;">
<a href="https://api.whatsapp.com/send?phone=256776338000">WhatsApp</a></span>

|

<span style="font-weight: bold;">
<a href="https://msng.link/tg/jlabs">Telegram</a>
</span>
</li>

<li>Website:
<span style="font-weight: bold; text-decoration:none">
<a href="https://www.jambulatv.com">www.jambulatv.com</a>
</span>
</li>



</div>
</div>
</div>

</body>
